muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9fa1f975-7756-4251-99a0-679fcb8fa53f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="e0178435-2be9-4495-af17-1944a607c02e" >
		<http:listener doc:name="Listener" doc:id="c77bc556-9ca1-4164-89bb-1c064f6b0068" config-ref="HTTP_Listener_config" path="demo"/>
		<set-payload value='#["Hello World!"]' doc:name="Set Payload" doc:id="ea9b29f6-dbd5-4c72-96db-7742b65afd6a" />
		<logger level="INFO" doc:name="Logger" doc:id="302c85aa-ebd7-4e66-ad15-94b07660097d" message="#[payload]"/>
	</flow>
</mule>
